h1{
  font-size:  50px;
}
span{
  font-size: 20pt;
  margin-left: 1cm;
}
p{
  font-size: 0.5in;
  border: black solid 2cm;
}

html{
  font-size: 62.5%;
}
h1{
  font-size: 2em;
}
div{
  font-size: 1.5em;
  background-color: red;
  text-align: center;
  width: 50%;
  margin: auto;
}
span{
  font-size: 1.7em;
}
p{
  font-size: 1.3em;
}