/* h1{
  font-size:  50px;
}
span{
  font-size: 20pt;
  margin-left: 1cm;
}
p{
  font-size: 0.5in;
  border: black solid 2cm;
} */

/* html{
  font-size: 10px;
}
div{
  font-size: 1.5em;
}
span{
  font-size: 1.5em;
}
p{
  font-size: 1.5em;
} */